.profile{
  display: block;
  width: 200px;
  float: left;
  margin: 10px;
  padding: 30px 30px 50px 30px;
  background-color: rgb(255, 255, 255);
  border: thin solid #ddd;
  border-radius: 3px;
  box-shadow: 3px 3px 10px rgba(190, 94, 0, 0.8); /* dark orange */
}

.header {

  background: url(5.gif)
  repeat 200% center,
             linear-gradient(to bottom, yellow, #aaa 20%, orange);
  background-size: cover;
}

}
.profile img {
  background-color: rgb(125, 125, 125);
}

.demo{
  font:pink;
}
.brain {
    display: block;
    margin: auto;
    width: 50%;
}

.brain1 {
    display: block;
    margin: auto;
    width: 50%;
}




h1{
    text-decoration: underline;
}

h1{
font-color: #FF1493;
}

h2.my-font {
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
  font: "italic";
  font-family: 'Indie Flower', cursive;
}

h3.my-font {
  font: "italic";
font-family: 'Dancing Script', cursive;
}

header {
  background: url(1.gif)
  repeat 200% center,
             linear-gradient(to bottom, yellow, #aaa 20%, orange);
  background-size: cover;
}

footer {
  background: url(buter.gif)
  repeat 200% center,
             linear-gradient(to bottom, yellow, #aaa 20%, orange);
  background-size: cover;
}

p {
  font-color: #FFFFFF;
}

img {
    display: block;
    margin: auto;
    width: 50%;
}
table
{
border-collapse: collapse;
border-spacing: 0px;
margin: auto;
margin-bottom: 50px;
}

table, th, td
{
padding: 10px;
border: 1px solid #aaa;
}

th {
  text-align: center;
}
th:hover {
  background: rgba(255, 255, 255, 0.3);
}

td:hover {
  background: rgba(255, 255, 255, 0.3);
}


.animation{
	color: black
}
.about{
	color: white
}


.navbar {
  border-radius: 0;
  background-color: #222;
}

.text-light {
  color: #aaa;
}

.has-links-centered {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

